<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "App Study" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</head>
<body>
<!-- ナビゲーションバー -->
<nav class="navbar">
  <!-- 左側の要素 -->
  <!-- メインコンテンツ -->
  <div class="navbar-item-left">
    <%= link_to "Home", "/" %>
  </div>

  <div class="navbar-item-left">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div class="navbar-item-left">
          <%= link_to "User edit", admin_users_path %>
        </div>
      <% end %>
      Welcome, <%= current_user.name %>!
    <% end %>
  </div>

  <!-- 右側の要素 -->
  <div class="navbar-item-right">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= form_with url: destroy_user_session_path, method: :delete do %>
            <button type="submit">Logout</button>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<div>
  <% if flash[:notice] %>
    <p style="color: green;"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
</div>
<%= yield %>

</body>
</html>
